@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/bootstrap-select/1.13.18/content/Content/bootstrap-select.css" rel="stylesheet" />

<h1 style="text-align:center">404 Not Found</h1>

<select id="testSelect" class="selectpicker" data-live-search="true">
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
    <option value="4">D</option>
</select>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap-select/1.13.18/content/Scripts/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/bootstrap-select/1.13.18/content/Scripts/bootstrap-select.js"></script>